.modal-content {
    text-align: center;
}

.navbar {
    justify-content: center;
}

.list-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 30px;
}
  
  .list-group-item {
    list-style-type: none;
    text-align: center;
  }

  .btn-primary:hover {
    cursor: pointer;
  }